*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

  /* Navbar */
#Navbar{
    width:100%;
    min-height:90px;
    background:#0B6E4F;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 40px;
    box-sizing:border-box;
    color:white;
    flex-wrap:wrap;
}

/* Logo */
#logo{
    width:150px;
    height:100px;
    /* object-fit:contain; */
}

/* Logo Text */
#welcome{
    font-family:Arial, sans-serif;
    font-size:30px;
    font-weight:700;
    letter-spacing:3px;
    color:#E1F5EE;
    margin:0;
}

#phr{
    font-family:Arial, sans-serif;
    font-size:14px;
    letter-spacing:4px;
    color:#9FE1CB;
    margin:0;
}

/* Navigation */
.welcomediv{
    display:flex;
    align-items:center;
}

.link {
    display: inline-block;
    padding: 10px 18px;
    text-decoration: none;
    color: #fff;

    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease;
    cursor: pointer;
}

.link:hover {
    background-color: #ff8c00; /* Orange */
    color: #fff;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(255, 140, 0, 0.3);
}

.link:active {
    transform: translateY(0);
}

/* Tablet */
@media (max-width:768px){

    #Navbar{
        padding:15px 20px;
    }

    #logo{
        width:60px;
        height:60px;
    }

    #welcome{
        font-size:24px;
    }

    #phr{
        font-size:12px;
        letter-spacing:2px;
    }

    #links a{
        font-size:16px;
    }
}

/* Mobile */
@media (max-width:600px){

    #Navbar{
        flex-direction:column;
        justify-content:center;
        text-align:center;
        gap:15px;
        padding:20px;
    }

    #logo{
        width:55px;
        height:55px;
    }

    #welcome{
        font-size:22px;
    }

    #phr{
        font-size:11px;
        letter-spacing:2px;
    }

    .welcomediv{
        width:100%;
        justify-content:center;
    }

    #links a{
        display:block;
        width:180px;
        margin:auto;
    }
}
   

body{
    background:#f4f6f9;
    padding:0px;
}

.table-container{
    width:100%;
    overflow-x:auto;
    background:#fff;
    border-radius:10px;
    box-shadow:0 4px 12px rgba(0,0,0,.12);
}

.supplier-table{
    width:100%;
    min-width:1400px;
    border-collapse:collapse;
}

.supplier-table thead{
    background:#0B6E4F;
    color:#fff;
}

.supplier-table th{
    padding:15px 12px;
    text-align:center;
    font-size:15px;
    white-space:nowrap;
    border:1px solid #dcdcdc;
}

.supplier-table td{
    padding:12px;
    border:1px solid #e5e5e5;
    font-size:14px;
    color:#333;
    white-space:nowrap;
}



.supplier-table tbody tr:hover{
    background:#e8f2ff;
    transition:.3s;
}

.supplier-table td:last-child{
    font-weight:600;
}

.supplier-table tbody tr td:last-child{
    color:#198754;
}

@media(max-width:768px){

    body{
        padding:15px;
    }

    .supplier-table th,
    .supplier-table td{
        padding:10px;
        font-size:13px;
    }

}